* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* -------------------------------------------------- */
/* Inizio Common */

/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Main */
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

#field {
	width: 30vw;
	height: 30vw;
	margin: auto;
}

.square {
	width: calc(30vw / 10);
	height: calc(30vw / 10);
	float: left;
	background-color: lightgreen;
}

.cell {
	width: 100%;
	height: 100%;
	border: 1px solid grey;
}

.clicked {
	background-color: red;
}
/* Fine Main */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */
